*{
    text-align: center;
}
body{
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.category img, .playlist img{
    height: 150px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #2d2d2d;
}

#RegionSelector:hover{
    cursor:pointer;

}

#CountrySelection{
    position: relative;
    background: red;
    top: 250px;
}

#RegionSelector{
   
}

#SelectYourRegion{

}

#ChoseRegion{

}


#PlayerSignUp{
    display: none;
}
.category h2{
    text-align: center;
    width: 150px;
    height: 30px;;
    background: #178480;
    color: white;
    position: relative;
    cursor: pointer;        
    box-shadow: 1px 1px 3px black;   
    left: 70px; 
    top: -30px;
    font-weight: bold;
}
.category h2:hover{
    
}




