*{
    text-align: center;
}
body{
    background: white;
}
header{
    background: white;
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 999;
}
#MainTitle{
    position: relative;
    top: 45px; 
    color:black; 
    text-shadow: 0px 0px 3px #2d2d2d;
}
#MainTitle2{
    position: relative;
    top: 45px; 
    color:black; 
    text-shadow: 0px 0px 3px #2d2d2d;
}
#Goss{
    font-family: 'Lato', sans-serif;
    font-size: 5em;
    color: #db2d43;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    text-shadow: 0px 0px 3px #2d2d2d; 
    

}
.category img, .playlist img{
    height: 200px;
    width: 200px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #2d2d2d;
    background: #2d2d2d;
    transition: .3s;
}
.category img:hover{
    padding: 10px;
    transition: .3s;
}
.playlist img:hover{
    padding: 10px;
    transition: .3s;
}

#BackButton{
    position: fixed;
    width: 150px;
    left: 8%;            
    z-index: 999;
    font-weight: bold;  
    border: 2px solid #db2d43;
    color: #db2d43;
    background: white;
}
#BackButton:hover{
    border: 2px solid #db2d43;  
    color:white;
    background: #db2d43;
}
#CountrySelection{
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);    
}


#SelectYourRegion{
    position: relative;    
    margin: 20px;
    font-size: 30px;
  
}
#RegionSelector:hover{
    border: 2px solid #db2d43;  
    color:white;
    background: #db2d43;
}

#RegionSelector{
    position: relative;
    font-weight: bold;
    height: 40px;
    width: 130px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    border: 2px solid #db2d43;
    color: #db2d43;
    background: white;
    
}

#ChoseRegion:hover{
    border: 2px solid #db2d43;  
    color:white;
    background: #db2d43;
}
#ChoseRegion{
    position: relative;
    font-weight: bold;
    height: 40px;
    width: 130px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    border: 2px solid #db2d43;
    color: #db2d43;
    background: white;
}



#PlayerSignUp{
    display: none;
}
.category h2{
    text-align: center;
    width: 150px;
    height: 30px;;
    color: white;
    position: relative;
    cursor: pointer;        
    font-weight: bold;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    
}
#CategoriesContainer{
    position: relative;
    top: 120px;

}

#PlaylistsContainer{
    position: relative;
    top: 120px;
}

/**/

#Game{
    width: 500px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#Game img{
    width: 100%;
}

#Ronda{
    position: relative;    
    margin: 5px 20px 20px 20px;
    font-size: 35px;
    color:#755A6F;
    font-weight: bold;
}

#PlaylistName{
    position: relative;    
    font-size: 50px;
    color:#db2d43;
    font-weight: bold;
    margin-top: 80px;
}

#AdivinarBtn{
    position: relative;
    font-weight: bold;
    height: 40px;
    width: 130px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    border: 2px solid #db2d43;
    color: #db2d43;
    background: white;
}

#AdivinarBtn:hover{
    border: 2px solid #db2d43;  
    color:white;
    background: #db2d43;
}
#SiguienteBtn{
    position: relative;
    font-weight: bold;
    height: 40px;
    width: 130px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    border: 2px solid #db2d43;
    color: #db2d43;
    background: white;
}
#SiguienteBtn:hover{
    border: 2px solid #db2d43;  
    color:white;
    background: #db2d43;
}
.interaction{
    margin: 10px;
}

#Intento{
    height: 40px;
    width: 300px;

}

#ScoreContainer{
    margin: 20px auto;
    top: 50%;
}

#Score{
    font-size: 50px;
    color:#db2d43;
    font-weight: bold;
    margin-top: 100px;
}
#ScoreContainer{
    text-align: center;
    height: 100px;
    width: 500px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}
